/* Modificación para hacer el slider responsive */

/* Estilos para la clase principal del contenedor del slider */
.swiper-container {
    display: flex;
    align-items: center;
    border: none;
    background-color: rgb(6, 17, 16);
    padding: 30px 0;
}

/* Ajustes para las diapositivas del Swiper */
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #0c0c0c;
    display: flex;
    border-radius: 15%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

/* Contenedor principal de cada slide */
.slide-container {
    height: auto;
    border-radius: 40px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.slide-container-img {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 55vh; /* Ocupa todo el alto del contenedor */
    object-fit: cover; /* Escala la imagen para ajustarse al contenedor sin distorsión */
    transition: all 0.2s ease-in-out;
    /* margin-bottom: 150px; */
}

/* Resto de tus estilos... */

    .slide-container-img:hover {
        transform: scale(1.2);
        opacity: 0.7;
    }


/* Estilos para la descripción del slide */
.slide-desc {
    background-color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-left: 30px;
    border-top-left-radius: 20px;
    opacity: 0.8;
}

/* Texto en la descripción del slide */
.slide-desc>span {
    color: rgb(208, 241, 228);
    display: block;
    font-size: 18px;
    padding: 10px;
}

/* Efecto de escala y opacidad al hacer hover en la imagen */
.slide-container:hover .slide-container-img {
    transform: scale(1.2);
    opacity: 0.7;
}

/* Estilos para la descripción en dispositivos móviles */
@media only screen and (max-width: 960px) {
    .swiper-title {
        width: 100%;
        text-align: center;
        padding: 30px 0;
    }

    .swiper-container {
        flex-direction: column;
    }

    .slide-container {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .slide-desc {
        padding: 5px;
    }

    .slide-desc>span {
        font-size: 16px;
    }
}
